* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5ebe0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.card-container {
  background-color: #fffaf6;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  max-width: 700px;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image img {
  width: 100%;  /* it was 100px*/
  max-width: 350px;
  height: 100%;
  object-fit: cover;
}

.product-details {
  padding: 32px;
  display: auto;
  flex-direction: column;
  justify-content: right;
}

.category {
  letter-spacing: 3px;
  color: gray;
  font-size: 12px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.title {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 28px;
  color: #1b1b1b;
  margin-bottom: 16px;
  line-height: 1.3;
}

.description {
  color: #6a6a6a;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 22px;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 26px;
  color: #2a5934;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.add-to-cart {
  background-color: #2a5934;
  color: white;
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-to-cart:hover {
  background-color: #234b2b;
}

.cart-icon {
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    height: auto;
    padding: 40px 0;  /*40px*/
  }

  .card-container {
    padding: 20px;
  }

  .product-card {
    flex-direction: column;
    max-width: 100%;
  }

  .product-image img {
    max-width: 100%; /* 100px*/
  }

  .product-details {
    padding: 25px;
  }

  .title {
    font-size: 24px;
  }

  .current-price {
    font-size: 22px;
  }

  .add-to-cart {
    padding: 12px 0;
    font-size: 13px;
  }
}
